{
    # Bloque global para decirle a Caddy que use el servidor de pruebas
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# Tu configuración normal
monitoreotermico.duckdns.org {
    reverse_proxy node-app:3000
}