{$DOMAIN_URL} {
    # Sirve los archivos de desafío de Let's Encrypt
    root * /var/www/html
    file_server

    # Configura TLS para usar los certificados generados por Certbot
    tls /etc/letsencrypt/live/{$DOMAIN_URL}/fullchain.pem /etc/letsencrypt/live/{$DOMAIN_URL}/privkey.pem

    # Redirige el resto del tráfico a la aplicación
    reverse_proxy node-app:3000
}
