# IMPORTANTE: Este docker-compose.yml usa variables del archivo .env de la RAÍZ
# Para ejecutar correctamente:
#   cd backend
#   docker-compose --env-file ../.env up -d
#
# O desde la raíz:
#   docker-compose -f backend/docker-compose.yml up -d

services:
  # ----------------------------------------------------
  # Backend NestJS API
  # ----------------------------------------------------
#  backend:
#   build:
#     context: .
#      dockerfile: Dockerfile
#    container_name: backend-nest
#    restart: unless-stopped
#    depends_on:
#      - mongodb
#    environment:
#      - NODE_ENV=production
#      - MONGO_USER=${MONGO_USER}
#      - MONGO_PASS=${MONGO_PASS}
#      - MONGO_DB_NAME=${MONGO_DB_NAME}
#      - MONGO_PORT=27017
#      - JWT_SECRET=${JWT_SECRET}
#      - SUPER_USER_USERNAME=${SUPER_USER_USERNAME}
#      - SUPER_USER_PASSWORD=${SUPER_USER_PASSWORD}
#      - PORT=3000
#    ports:
#      - "3000:3000"
#    networks:
#      - mi-red

  # ----------------------------------------------------
  # MongoDB
  # ----------------------------------------------------
  mongodb:
    container_name: mi-mongo
    image: mongodb/mongodb-community-server:7.0-ubi8
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${MONGO_USER}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_PASS}"
    volumes:
      - datos-mongo:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand('ping').ok"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    networks:
      - mi-red

  # ----------------------------------------------------
  # EMQX Broker MQTT
  # ----------------------------------------------------
  emqx:
    image: emqx/emqx:5.7.0
    container_name: mi-broker-emqx
    restart: unless-stopped
    environment:
      - "EMQX_LISTENERS__TCP__DEFAULT__BIND=0.0.0.0:1883"
      - "EMQX_AUTH__USER__1__USERNAME=${MOSQUITTO_USER}"
      - "EMQX_AUTH__USER__1__PASSWORD=${MOSQUITTO_PASS}"
      - "EMQX_NODE__COOKIE=${EMQX_NODE_COOKIE}"
    ports:
      - "1883:1883"
      - "18083:18083"
    networks:
      - mi-red

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_PASS}
      ME_CONFIG_MONGODB_URL: mongodb://${MONGO_USER}:${MONGO_PASS}@mi-mongo:27017/
      ME_CONFIG_BASICAUTH: false
    depends_on:
      - mongodb
    networks:
      - mi-red

networks:
  mi-red:

volumes:
  datos-mongo:
