services:
  mongodb:
    container_name: mi-mongo
    image: mongodb/mongodb-community-server:7.0-ubi8
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${MONGO_USER}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_PASS}"
    volumes:
      - datos-mongo:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand('ping').ok"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    networks:
      - mi-red

  mongo-express:
    container_name: mi-mongo-express
    image: mongo-express:1.0.2-20
    restart: unless-stopped
    depends_on:
      mongodb:
        condition: service_healthy
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://${MONGO_USER}:${MONGO_PASS}@mongodb:27017/?authSource=admin"
      ME_CONFIG_BASICAUTH: "true"
      ME_CONFIG_BASICAUTH_USERNAME: "admin"
      ME_CONFIG_BASICAUTH_PASSWORD: "superseguro123"
      ME_CONFIG_SITE_SESSIONSECRET: "secret"
    networks:
      - mi-red

  emqx:
    image: emqx/emqx:5.7.0
    container_name: mi-broker-emqx
    restart: unless-stopped
    environment:
      - "EMQX_LISTENERS__TCP__DEFAULT__BIND=0.0.0.0:1883"
      - "EMQX_AUTH__USER__1__USERNAME=${MOSQUITTO_USER}"
      - "EMQX_AUTH__USER__1__PASSWORD=${MOSQUITTO_PASS}"
      - "EMQX_NODE__COOKIE=${EMQX_NODE_COOKIE}"
    ports:
      - "1883:1883"
      - "18083:18083"
    networks:
      - mi-red

networks:
  mi-red:

volumes:
  datos-mongo:

